ion-header {
    ion-toolbar {
      --ion-background-color: royalblue;
      --color: white;
      font-family: 'Arial', sans-serif;
    }
  }
  
  ion-content {
    form {
      ion-item {
        --ion-text-color: royalblue;
  
        ion-label {
          --ion-color: royalblue;
        }
      }
  
      ion-button {
        --ion-background-color: royalblue;
        --ion-color: white;
        margin-top: 20px;
      }
    }
  }
  