<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Our App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h2 class="title">Discover amazing features</h2>
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle" slot="start"></ion-icon>
        <ion-label class="feature-label">
          Stay Organized
        </ion-label>
        <ion-note slot="end">Manage your tasks effectively</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label class="feature-label">
          Connect with Others
        </ion-label>
        <ion-note slot="end">Share and interact with the community</ion-note>
      </ion-item>
    </ion-list>
  </div>
  <div class="button-container">
    <ion-button expand="full" routerLink="/update-password">Change Password</ion-button>
  </div>
</ion-content>
